<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A daily podacst of custom music by Indie Hackers">
  <link rel="stylesheet" href="/css/main.css">
  <title>Jamstack52</title>
</head>

<body>
  <main class="jamstack52-waitlist">
    <script async data-uid="c926eac51a" src="https://dogged-artisan-2239.ck.page/c926eac51a/index.js"></script>
  </main>

</body>

</html>